.top {
  background-color: #8E304C;
  color: #fff;

}
.logo{
    border-radius:100%;
    width:50px;
    height: 50px;
}
.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2rem;
  font-weight: bold;
  padding-left:2%
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-Light";
}


.topimg{
    padding:0px;
    max-height:700px;
    position: relative;
}
.wc{
    text-align: center;
    font-family: "Ubuntu";
    padding-top:3%;
  font-size: 4rem;
  font-weight: bold;
  color: #8E304C;
}

.about{
 text-align: center;
font-family: "Ubuntu";
padding-top:3%;
  font-size: 4rem;
  font-weight:100;
  color: #8E304C;}

.content{
    padding: 30px 100px;
    text-align: justify;
}

.bh{
    padding-top: 5%;
    font-family: "Ubuntu";
    padding-top:3%;
  font-size: 4rem;
  font-weight:100;
  color: #8E304C;
    text-align: center;
}

.download-button{
    align-items: center;
     margin: 5% 3% 5% 35%;
    color:#8E304C;
    border-color:#8E304C;
    border: 1px solid;
}

.pl{
    text-align: center;
    font-size: 1.5rem;
    
}
#pricing {
  padding: 100px;
}

.price-text {
  font-size: 3rem;
  line-height: 1.5;
}

.pricing-column {
  padding: 3% 2%;
}

.phd{
    text-align: center;
   font-family: "Ubuntu";
  font-size: 2rem;
  font-weight:100;
  color: #8E304C;
    
}
.card-body{
    text-align: center;
}

.forms{
    text-align: center;
    padding-top: 3%;
}


.btt{
    
    align-items: center;
    color:#8E304C; 
    margin-bottom: 5%;
    border-color:#8E304C;
    border: 1px solid;
}

.f1 {
  background-color:#8E304C;
}
.text-center{
    color: white;
}
.bgimg{
    text-align: center;

}

.btn-floating{
    background-color: azure;
}

.fab{
    
    color: aliceblue;
}